/* SECTION 1 */

#section-1 {
  position: relative;
  min-height: 97rem;
  overflow: hidden;
}

#s1-art1 {
  gap: 4rem;
}

.slide {
  position: absolute;
  top: 27rem;

  display: flex;
  justify-content: center;

  min-width: 130rem;

  transition: transform 0.8s;
}

.btns {
  position: absolute;
  top: 55%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;

  background-color: #fff;
  box-shadow: 0 0 10px #000;
}

.btns:hover {
  background-color: #e9ecef;
}

#btn-right {
  right: 2%;
}

#btn-left {
  left: 2%;
}

.icon-btns {
  height: 2.4rem;
  width: 2.4rem;
}

h2 {
  font-size: 3rem;
}

.sec1-title {
  margin-bottom: 1rem;
}

.imgIan {
  max-height: 46rem;
  position: relative;
}

.img-text {
  position: absolute;
  bottom: -3rem;
  left: 11.5%;

  padding: 0.2rem 2rem;
  font-size: 2rem;
  background-color: #fff;
}

.storyDiv {
  width: 60%;
}

.sec1-h2 {
  font-size: 6rem;
}

.sec1-h2::first-letter {
  font-size: 10rem;
}

.sec1-container {
  padding: 0 2rem;
}

.sec1-h3 {
  font-size: 2.4rem;
  padding: 3rem 0 1rem;
}

.sec1-h3:first-child {
  padding: 0 0 1rem;
}

.sec1-p {
  font-size: 2rem;
}

.sec1-a:link,
.sec1-a:visited {
  color: blue;
  text-decoration: none;
}

/* MAP */

#map {
  z-index: -1;
  height: 51rem;
  width: 50%;
}

.map {
  margin-left: 13rem;
  max-width: 130rem;
}

.s1-slide-child {
  width: 50%;
  border: #000 1px solid;
}

.map-title {
  font-size: 5rem;
  background-color: #49505798;
  border-bottom: #000 solid 1px;
}

.map-div button {
  border: none;
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
}

.map-countries,
.map-cities {
  display: flex;
}

.map-btn-country,
.map-btn-mx,
.map-btn-ca {
  background-color: transparent;
}

.map-btn-country:hover,
.map-btn-mx:hover,
.map-btn-ca:hover {
  background-color: #49505798;
}

.map-countries button {
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}

#map-info {
  font-size: 2rem;
  padding: 2rem;
  height: 34rem;
  overflow-y: auto;
  font-weight: 500;
}

.map-popup {
  font-size: 1.5rem;
}

.map-active {
  background-color: #49505798;
}
