* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 17rem 10rem;
  background: url(img/clouds-in-black.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h2,
h3,
h4 {
  font-family: "PT Serif", serif;
  font-style: italic;
}

/* HEADER */

header {
  padding-top: 10rem;
  color: #fff;
}

.header-img-container {
  width: 100%;
  height: 40vh;
  padding: 2rem;

  background: url(img/waves-in-black.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 15%;
  grid-template-rows: 8rem 1fr;
}

.head-title-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

#header-logo {
  height: 8rem;
  width: 8rem;
}

.header-title {
  font-size: 4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  grid-column: 2 /-1;
  grid-row: 1 / -1;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 3rem;

  display: flex;
  flex-direction: row;
  gap: 10rem;

  background: url(img/waves-in-black.jpg);
  background-size: cover;
}

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.nav-links::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #e9ecef;
  transition: 300ms;
}

.nav-links:hover::after {
  width: 100%;
}

.header-clock {
  align-self: center;

  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: fit-content;
}

.header-text {
  font-size: 2rem;
}

.clock {
  text-align: center;
  font-size: 7rem;
}

.poem {
  height: 40vh;
  margin: 5rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

blockquote {
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

blockquote:first-child {
  padding-left: 6rem;
}

cite {
  font-size: 2rem;
  font-weight: 500;

  text-align: center;

  grid-column: 1 / -1;
  align-self: self-start;
}

.quote-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.sections {
  border-top: solid black 1px;
}

/* SECTION 1 */

#section-1 {
  position: relative;
  min-height: 97rem;
  overflow: hidden;
}

#s1-art1 {
  gap: 4rem;
}

#map {
  z-index: -1;
  height: 51rem;
  width: 50%;
}

.map {
  margin-left: 12rem;
}

.s1-slide-child {
  width: 50%;
  border: #000 1px solid;
}

.slide {
  position: absolute;
  top: 27rem;

  display: flex;
  justify-content: center;

  min-width: 130rem;

  transition: transform 0.8s;
}

.btns {
  position: absolute;
  top: 55%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;

  background-color: #fff;
  box-shadow: 0 0 10px #000;
}

.btns:hover {
  background-color: #e9ecef;
}

#btn-right {
  right: 2%;
}

#btn-left {
  left: 2%;
}

.icon-btns {
  height: 2.4rem;
  width: 2.4rem;
}

h2 {
  font-size: 3rem;
}

.sec1-title {
  margin-bottom: 1rem;
}

.imgIan {
  max-height: 46rem;
}

.storyDiv {
  width: 60%;
}

.sec1-h2 {
  font-size: 6rem;
}

.sec1-h2::first-letter {
  font-size: 10rem;
}

.sec1-container {
  padding: 0 2rem;
}

.sec1-h3 {
  font-size: 2.4rem;
  padding: 3rem 0 1rem;
}

.sec1-h3:first-child {
  padding: 0 0 1rem;
}

.sec1-p {
  font-size: 2rem;
}

.sec1-a:link,
.sec1-a:visited {
  color: blue;
  text-decoration: none;
}

/* SECTION 2 */

#section-2 {
  position: relative;
}

.absolute {
  display: flex;
  gap: 2rem;
  align-items: center;

  position: absolute;
  top: 15rem;
  left: 17%;

  font-size: 2rem;
  padding: 1rem;
  background-color: #dbe4ff8f;
}

.absolute button {
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
}

.absolute button:hover {
  background-color: #00000096;
  color: #fff;
}

.sec2-h2 {
  text-align: center;
  font-size: 4rem;

  padding: 22.7rem 0 7rem;
}

.sec2-repos-contain {
  display: flex;
  flex-direction: column;

  padding: 0 6rem;
}

.button-title {
  display: block;
  width: 100%;
  cursor: pointer;

  color: #000;
  background-color: transparent;
  border: none;

  border-bottom: #000 2px solid;
  margin-top: 2rem;
}

.btn-title-active {
  border-bottom: #000 5px solid;
}

.btn-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec2-h3 {
  font-size: 3.5rem;
  font-weight: lighter;
}

.s2-h3-active {
  font-weight: bold;
}

.arrow {
  height: 2.4rem;
  width: 2.4rem;
}

.sec2-games,
.sec2-websites,
.sec2-apps {
  display: flex;
}

.hidden {
  display: none;
}

.sec2-items {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.sec2-items p {
  font-size: 2rem;
  font-weight: lighter;

  color: #fff;

  padding-right: 10rem;
  line-height: 2.7rem;
}

.s2-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  height: 30rem;
  background-color: #49505798;
}

.content-active {
  background-color: #212529d7;
  width: 100%;
}

.sec2-a:link,
.sec2-a:visited {
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;

  color: #fff;
  padding: 4rem 2rem;
  width: 100%;
}

.sec2-imgs {
  height: 26rem;
  width: 26rem;
  flex-shrink: 0;
}

/* CONTACT INFO BUTTON */

.divButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.contact-button {
  color: #373737;
  display: inline-block;
  border-radius: 30px;
  border: 3px orange solid;
  padding: 15px 10px;
  cursor: pointer;
  background-color: rgb(172, 172, 172);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-button:hover {
  background-color: white;
  border: 3px rgb(255, 183, 28) solid;
}

.hidden {
  display: none;
}

.close-info {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.contact-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: rgb(255, 252, 252);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.629);
  z-index: 10;
}

.text-info {
  color: #c31010;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.211);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* Finish contact info button */
