* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 17rem;
  background: url(img/clouds-in-black.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h2,
h3,
h4 {
  font-family: "PT Serif", serif;
  font-style: italic;
}

/* HEADER */

header {
  color: #fff;
}

.header-img-container {
  width: 100%;
  height: 40vh;
  padding: 2rem;

  background: url(img/waves-in-black.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 15%;
  grid-template-rows: 8rem 1fr;
}

.head-title-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

#header-logo {
  height: 8rem;
  width: 8rem;
}

.header-title {
  font-size: 4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  grid-column: 2 /-1;
  grid-row: 1 / -1;
}

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.nav-links::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #e9ecef;
  transition: 300ms;
}

.nav-links:hover::after {
  width: 100%;
}

.header-clock {
  align-self: center;

  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: fit-content;
}

.header-text {
  font-size: 2rem;
}

.clock {
  text-align: center;
  font-size: 7rem;
}

.poem {
  height: 40vh;
  margin: 5rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

blockquote {
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

blockquote:first-child {
  padding-left: 6rem;
}

cite {
  font-size: 2rem;
  font-weight: 500;

  text-align: center;

  grid-column: 1 / -1;
  align-self: self-start;
}

.quote-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.sections {
  border-top: solid black 1px;
}

/* SECTION 1 */

#section-1 {
  display: flex;
  gap: 2rem;

  padding: 30rem 0 15rem;
}

h2 {
  font-size: 3rem;
}

.sec1-title {
  margin-bottom: 1rem;
}

.imgIan {
  max-height: 46rem;
}

.storyDiv {
  margin-top: 2rem;
  padding-left: 2rem;
}

.sec1-h2 {
  font-size: 6rem;
}

.sec1-h2::first-letter {
  font-size: 10rem;
}

.sec1-container {
  padding: 2rem 15rem 2rem 2rem;
}

.sec1-h3 {
  font-size: 2.4rem;
  padding: 3rem 0 1rem;
}

.sec1-h3:first-child {
  padding: 0 0 1rem;
}

.sec1-p {
  font-size: 2rem;
}

.sec1-a:link,
.sec1-a:visited {
  color: blue;
  text-decoration: none;
}

/* SECTION 2 */

.sec2-h2 {
  text-align: center;
  padding: 4rem 0 7rem;
}

.sec2-repos-contain {
  display: flex;
  flex-direction: column;
}

.button-title {
  display: block;
  width: 100%;
  cursor: pointer;

  color: #000;
  background-color: transparent;
  border: none;

  border-bottom: #000 5px solid;
  margin-top: 2rem;
}

.btn-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec2-h3 {
  font-size: 3rem;
}

.arrow-point-right {
  height: 2.4rem;
  width: 2.4rem;
}

.sec2-games,
.sec2-websites,
.sec2-apps {
  display: flex;
  gap: 7rem;
  background-color: #495057;
}

.sec2-items {
  display: inline-block;
}

.sec2-a:link,
.sec2-a:visited {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;

  color: #fff;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* .sec2-a:hover,
.sec2-a:focus {
} */

.sec2-imgs {
  height: 15rem;
  width: 15rem;
}

/* CONTACT INFO BUTTON */

.divButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.contact-button {
  color: #373737;
  display: inline-block;
  border-radius: 30px;
  border: 3px orange solid;
  padding: 15px 10px;
  cursor: pointer;
  background-color: rgb(172, 172, 172);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-button:hover {
  background-color: white;
  border: 3px rgb(255, 183, 28) solid;
}

.hidden {
  display: none;
}

.close-info {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.contact-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: rgb(255, 252, 252);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.629);
  z-index: 10;
}

.text-info {
  color: #c31010;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.211);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* Finish contact info button */
